<header class="h-auto bg-green-700">
  <nav class="text-white border border-green-700 flex items-center w-full">
    <div class="flex-1">
      <%= image_pack_tag "english_logo.jpg", alt:"English Logo", size: "250x36"  %>
    </div>
    <div class="flex-none">
        <%= link_to "About", about_path, class: 'px-4' %>
        <%= link_to "Privacy", privacy_path, class: 'px-4' %>
        <%= link_to "Terms of Use", terms_path, class: 'px-4' %>
    </div>
    <div class="flex-1 text-right mr-4">
      <% if user_signed_in? %>
        <%= link_to current_user.email, edit_user_registration_path %>
        |
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'text-right' %>
      <% else %>
        <%= link_to 'Sign In', new_user_session_path %>
      <% end %>
    </div>
  </nav>
</header>