<!DOCTYPE html class='h-full'>
<html>
  <head>
    <title>NELP Payment</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='flex flex-col h-full'>
    <%= render '/layouts/header' %>
    <main class="flex-1 mx-auto p-8">
      <%= render 'layouts/notifications' %>
      <div class="container mx-auto px-4">
        <%= yield %>
      </div>
    </main>
    <%= render '/layouts/footer' %>
    <div role="debugging" class="w-full h-auto">
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
